@import "../../variables.scss";

.slider {
  background-color: $color-bg-btn;
  padding: 80px 0px 70px 0px;
  margin: 0px 0px 200px 0px;
  border-radius: 45px;
  overflow: hidden;
  transition: 1s;
  &__content {
    display: flex;
    width: 100%;
    margin: 0px 0px 0px -200px;
    position: relative;
    transition: 1s;
    @media (max-width: 1300px) {
      margin: 0px 0px 0px -280px;
    }
    @media (max-width: 1000px) {
      margin: 0px 0px 0px -400px;
    }
    @media (max-width: 800px) {
      margin: 0px 0px 0px -240px;
    }
    @media (max-width: 400px) {
      margin: 0px 0px 0px -330px;
    }
    @media (max-width: 380px) {
      margin: 0px 0px 0px -280px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-arrow {
  background: transparent;
}
.button-arrow-right {
  transform: rotate(180deg);
  margin: 0px 0px 7px 0px;
}
.dot {
  span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 5px;
    background: #fff;
  }
  .dot-active {
    width: 14px;
    height: 14px;
    background: $color-one;
  }
}


@media (max-width: 800px) {
  .slider {
    background-color: $color-bg-btn;
    padding: 30px 0px 60px 0px;
    margin: 0px 0px 50px 0px;
    transition: 1s;
  }
}
